<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">About</h1>
    <p class="lead">Details coming soon!</p>
    <hr class="my-4">
    <p>Hang tight. More stuff will appear here soon.</p>
  </div>
</div>
