<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Documenation</h1>
    <p class="lead">Details coming soon!</p>
    <hr class="my-4">
    <p>For the most up to date documentation, check out the <%= link_to 'github repo', 'https://github.com/zkirchin/gbapi', target: 'blank' %>.</p>
  </div>
</div>
